@use "sass:color";

table {
  width: 100%;

  .mat-mdc-header-row .mat-mdc-header-cell {
    border-block: 1px solid currentColor;
    border-inline-end: 1px solid currentColor;
    cursor: pointer;
    padding-inline-start: 1rem;
    font-weight: bold;
  }

  .mat-mdc-header-row .mat-column-id {
    border-inline-start: 1px solid currentColor;
  }

  .mat-mdc-header-row .mat-mdc-header-cell {
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    padding-inline-start: 1rem;
    font-weight: bold;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-block-end: 1px solid currentColor;
    cursor: pointer;
    padding-inline-start: 1rem;
    border-inline-end: 1px solid currentColor;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: color.adjust($color: aliceblue, $lightness: -10%);
  }

  .mat-mdc-row .mat-column-id {
    // width: 25%;
    border-inline-start: 1px solid currentColor;
    padding-right: 24px;
  }
}
