<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/establishment">Establishment</a>
  <a routerLink="/location">Location</a>
  <a routerLink="/organizer">Organizer</a>
  <a routerLink="/event">Event</a>
  <a routerLink="/event-schedule">Event Schedule</a>
  <a routerLink="/event-schedule/workflow">Create Event Schedule</a>
  <a routerLink="/published-event-schedule">Published Event Schedule</a>
  <a routerLink="/published-event-schedule/create"
    >Create Published Event Schedule</a
  >
</nav>
