<h2>Establishments</h2>
@if (establishmentStore.hasError()) {
<p>Check the console for errors</p>
}
<!-- Blank Comment -->
@if(!establishmentStore.hasError() && !establishmentStore.isLoading()) {
<table
  mat-table
  [dataSource]="establishmentStore.establishments()"
  class="mat-elevation-z8"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Establishment Id</th>
    <td mat-cell *matCellDef="let element">{{ element.establishmentId }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
}
