<app-event-selector></app-event-selector>
<hr />
<app-scheduled-event-list></app-scheduled-event-list>
<hr />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="items">
    <div
      *ngFor="let group of items.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name {{ i + 1 }}</mat-label>
        <input matInput formControlName="name" placeholder="Enter name" />
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Description {{ i + 1 }}</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Enter description"
        />
      </mat-form-field>

      <button
        mat-icon-button
        color="warn"
        type="button"
        (click)="removeItem(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <button mat-button type="button" (click)="addItem()">Add Item</button>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
