<app-event-selector
  (eventSelectedEmitter)="handleEmittedEvent($event)"
></app-event-selector>

<hr />

<form class="scheduled-event-list" [formGroup]="form" (ngSubmit)="onSubmit()">
  <button mat-raised-button color="primary" type="submit">Submit</button>
  <br />
  &nbsp;
  <div formArrayName="scheduledEvents">
    @for(group of scheduledEventsFormArray.controls; let i = $index; track i) {
    <div [formGroupName]="i">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter name" />
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Select an scheduled event type</mat-label>
        <mat-select formControlName="scheduledEventType">
          <mat-option [value]="null">-- Select --</mat-option>
          @for (scheduledEventType of scheduledEventTypeOptions; track $index) {
          <mat-option [value]="scheduledEventType">{{
            scheduledEventType
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Select an scheduled event interval</mat-label>
        <mat-select formControlName="scheduledEventInterval">
          <mat-option [value]="null">-- Select --</mat-option>
          @for (scheduledEventInterval of scheduledEventIntervalOptions; track
          $index) {
          <mat-option [value]="scheduledEventInterval">{{
            scheduledEventInterval
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Pick a start time</mat-label>
        <input matInput [matTimepicker]="startTime" />
        <mat-timepicker-toggle matIconSuffix [for]="startTime" />
        <mat-timepicker #startTime />
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Pick an end time</mat-label>
        <input matInput [matTimepicker]="endTime" />
        <mat-timepicker-toggle matIconSuffix [for]="endTime" />
        <mat-timepicker #endTime /> </mat-form-field
      >&nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Event Date</mat-label>
        <input
          matInput
          [matDatepicker]="scheduledEventDate"
          formControlName="scheduledEventDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="scheduledEventDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #scheduledEventDate></mat-datepicker>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Category {{ i + 1 }}</mat-label>
        <input
          matInput
          formControlName="category"
          placeholder="Enter category"
        />
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Description {{ i + 1 }}</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Enter description"
        />
      </mat-form-field>
      <button
        mat-icon-button
        color="warn"
        type="button"
        (click)="removeScheduledEvent(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </div>
</form>
